.card{
    border: 1px solid black;
    margin: 20px;
    width: 500px;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.userimage{
    border: 1px solid blue;
    margin: 9px;
}

.user-about{
    display: flex;
    flex-direction: column;
    padding: 8px;
    text-align: center;
    /* border: 1px solid black; */
}

.username{
    color: grey;
    font-weight: bold;
    margin: 9px;
}

.name-below{
    color: rgb(172, 168, 168);
}