.card{
    box-shadow: 2px 2px 3px lightcyan;
    margin: 30px;
    width: 500px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
}

.card:hover{
    transition: .5s;
    margin: 40px;
    box-shadow: 2px 2px 3px lightcyan , -2px -2px 7px lightcyan;
}

.userimage{
    border: 1px solid blue;
    margin: 9px;
}

.user-about{
    display: flex;
    flex-direction: column;
    padding: 8px;
    text-align: center;
    /* border: 1px solid black; */
}

.username{
    color: grey;
    font-weight: bold;
    margin: 9px;
}

.username:hover{
    color: black;
    font-style: oblique;
}

.name-below{
    color: rgb(172, 168, 168);
}